<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!-- specified in UI code
		<add key="serilog:minimum-level" value="Information" />
		-->
		<add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
		<add key="serilog:write-to:RollingFile.pathFormat" value=".\SpeckleGSA-{Date}.txt" />
		<add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
		<add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} {SourceContext}{NewLine}{Exception}" />
	</appSettings>
</configuration>