<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="6.32.20340.21001" targetFramework="net472" />
  <package id="RhinoCommon" version="6.32.20340.21001" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
</packages>